@import url('https://fonts.googleapis.com/css?family=Oswald|Rock+Salt');

body {
  margin: 0;
}

/* Set viewscreen to size of stream, in this case 720p */
.viewscreen {
  height: 1080px;
  width: 1920px;
  background: #111; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #5dc733, #111); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5dc733, #111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5dc733, #111); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5dc733, #111); /* Standard syntax */
}

.flex-container {
  display: flex;
}

.stream-window {
  height: 930px;
  width: 1653px;
  position: absolute;
  top: 150px;
  left: 267px;
  box-shadow: -5px -5px 5px #bbb;
  background-color: #000;
}

.header-top {
  font-family: "Rock Salt", cursive;
  font-size: 72px;
  color: #e7d31a;
  text-shadow: 4px 4px 5px #333;
  margin: 0 auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fgc-icon {
  height: 225px;
  width: 225px;
  background-image: url(../img/fgcicon.jpg);
  background-position: center;
  background-size: cover;
  border: 4px solid #000;
  border-radius: 5%;
  position: relative;
  left: 18px;


}

.info-text {
  text-align: center;
  color: #e7d31a;
  font-family: "Oswald", sans-serif;
  width: 267px;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000;

}

.info-text p {
  margin-top: 15px;
  margin-bottom: 15px;
}

.record {
  color: #e7d31a;
  text-shadow: 2px 2px 2px #000;
  font-family: "Rock Salt", cursive;
  font-size: 24px;
  margin-top: 125px;
  width: 267px;
  text-align: center;
}

.js-box {
  margin-top: 50px;
  border: 1px solid black;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
}
