@import url('https://fonts.googleapis.com/css?family=Oswald|Rock+Salt');

body {
  margin: 0;
}

/* Set viewscreen to size of stream, in this case 720p */
.viewscreen {
  height: 720px;
  width: 1280px;
  background: #111; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #5dc733, #111); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #5dc733, #111); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #5dc733, #111); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #5dc733, #111); /* Standard syntax */
}

.flex-container {
  display: flex;
}

.stream-window {
  height: 620px;
  width: 1102px;
  position: absolute;
  top: 100px;
  left: 178px;
  box-shadow: -5px -5px 5px #bbb;
  background-color: #000;
}

.header-top {
  font-family: "Rock Salt", cursive;
  font-size: 48px;
  color: #e7d31a;
  text-shadow: 3px 3px 3px #bbb;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fgc-icon {
  height: 150px;
  width: 150px;
  background-image: url(../img/fgcicon.jpg);
  border: 3px solid #000;
  border-radius: 5%;
  position: relative;
  left: 12px;


}

.info-text {
  text-align: center;
  color: #e7d31a;
  font-family: "Oswald", sans-serif;
  width: 178px;
  font-size: 12px;
  text-shadow: 1px 1px 2px #000;

}

.info-text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.record {
  color: #e7d31a;
  text-shadow: 1px 1px 2px #000;
  font-family: "Rock Salt", cursive;
  font-size: 16px;
  margin-top: 75px;
  width: 178px;
  text-align: center;
}

.js-box {
  margin-top: 50px;
  border: 1px solid black;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
}
